


 
  <div class="jumbotron text-center mt-5" style="border-top: 40px white solid;">
    <div class="container">
      <h1 class="display-4">Voici l'ensemble des <span class='pink'>Gossips</span> !</h1>
      <p class="lead">Tu peux choisir un potin pour afficher la page utilisateur.</p>
   
   <a href=<%=new_gossip_path%>><button type="button"class="btn btn-outline-danger btn-lg px-4 me-sm-3 my-3"id="pink-button">Céer un potin</button></a>

    </div>
     <% if flash[:notice] %>
      <br>
      <div class="container p-1 text-center alert  alert-success" role="alert"><%= flash[:notice] %></div>
    <% end %>
  </div>
  </div>


      <%@gossips.each do |gossip|%>
     <div class= "row d-flex justify-content-evenly" style="background-color:#212529">
      <div class="card mt-5" style="width: 18rem; border:deeppink 1px solid; background-color :transparent;">
        <div class="card-body">
          <h5 class="card-title text-center"><span class='pink'><%=gossip.title%></span></h5>
            <p class="card-text text-center"id="text"><%=gossip.content%></p>
              <a href="<%=gossip_path(gossip.id)%>" class="card-link">Clique ici</a>
        </div>
      </div> 
    </div> 
      <%end%>


<footer>
<!-- Footer -->
  <!-- Copyright -->
  <div class="text-center p-3 mt-5" style="background-color: #b50063;">
    © 2021 Copyright:
    <a class="text"id="text" href="https://www.voyage-prive.com/offres/">AnthoXabiPasc@tpc.com</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->))


  
 