
 <body>  
  
  <header> 
  <div class="fixed-top">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-3">
        <a class="navbar-brand" href="#">G<span class='pink'>o</span>ssip Pr<span class='pink'>o</span>ject</a>
            
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href=<%=root_path%>><span class='pink'>Home</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href=<%=team_path%>><span class='pink'>Team</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href=<%=contact_path%>><span class='pink'>Contact</span></a>
            </li>
           </ul>
        </div>
      </nav>
  </div>
  </header>


 
  <div class="jumbotron text-center mt-5">
    <div class="container">
      <h1 class="display-4">Voici l'ensemble des <span class='pink'>Gossips</span> !</h1>
      <p class="lead">Tu peux choisir un potin pour afficher la page utilisateur.</p>
    </div>
  </div>


      <%@gossips.each do |gossip|%>
     <div class= "row d-flex justify-content-evenly">
      <div class="card mt-5" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title text-center"><span class='pink'><%=gossip.title%></span></h5>
            <p class="card-text text-center">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="<%=gossip_path(gossip.id)%>" class="card-link">Clique ici</a>
        </div>
      </div> 
    </div> 
      <%end%>



<footer>
<!-- Footer -->
  <!-- Copyright -->
  <div class="text-center p-3 mt-5" style="background-color: rgba(253, 205, 229, 1);">
    © 2021 Copyright:
    <a class="text-dark" href="https://www.voyage-prive.com/offres/">AnthoXabiPasc@tpc.com</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->


  </body>
 