<!DOCTYPE html>
<html>
  <head>
    <title>TheGossipProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

   
    <link rel="shortcut icon" type="image/png" href="https://ih1.redbubble.net/image.357831418.1783/flat,750x,075,f-pad,750x1000,f8f8f8.jpg"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <%= stylesheet_link_tag 'application', media: 'all'%>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    
  <header> 
  <div class="fixed-top">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-3">
        <a class="navbar-brand" href=<%=gossips_path%>>G<span class='pink'>o</span>ssip Pr<span class='pink'>o</span>ject</a>
            
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href=<%=root_path%>><span class='pink'>Home</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href=<%=team_path%>><span class='pink'>Team</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href=<%=contact_path%>><span class='pink'>Contact</span></a>
            </li>
           </ul>
        </div>

 <%if session[:user_id] == nil%>
    <div class="dropdown">
            <button class="btn btn-outline dropdown-toggle" type="button" id="pink-button" data-bs-toggle="dropdown" aria-expanded="false">Connexion</button>
            <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end" aria-labelledby="pink-button">
              <li><a class="dropdown-item" href=<%=new_user_path%> id="pink">Inscription</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href=<%=new_session_path%> id="pink">Connexion</a></li>
            </ul>
    </div>
  <%else%>
            <div>
                <a href="<%= session_path(session.id) %>" class="btn btn-outline" id="pink-button" data-confirm="êtes-vous sur de vouloir vous déconnecter?" data-method="DELETE">Déconnexion</a>
                
            </div>
          <%end%>
  </div>
      </nav>
  
  </header> 
  <%= yield %>
  

  <footer>
<!-- Footer -->
  <!-- Copyright -->
  <div class="fixed-bottom">
  <div class="text-center p-3 mt-5" style="background-color: #e9ecef;">
    © 2021 Copyright:
    <a class="text"id="text" href="https://hollywoodpq.com/">AnthoXabiPasc@tpc.com</a>
  </div>
  <!-- Copyright -->
  </div>
<!-- Footer -->
  </footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
</body>


</html>
